<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        textarea {
            width: 60%;
            resize: horizontal;
        }
        select {
            width: 15%;
        }
        button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <textarea rows="2"></textarea>
    <br>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <br>
    <button>计算价格</button>
</body>
</html>
