<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <title>换热器报价</title>
    <meta name="description"          content="">
    <meta name="keywords"           content="换热器报价">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
    <link rel="icon shortcut" href="/public/compile/favicon.983368c6.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/compile/global.b325755e.css" type="text/css">
    <link rel="stylesheet" href="/public/compile/view.153559ec.css" type="text/css">
</head>
<body>
<script>window.device = "pc", window.category = "flow", console.log(category);</script>
<div id="po-view-header" class="po-view-header">
    <div class="view-header-left">
        <div id="logo-img-box" class="logo-img-box"><img src="/public/compile/logo.94645e24.svg"></div>
        <h1 class="view-header-title">换热器报价</h1>
        <div id="po-view-count" class="po-header-left-btn po-view-count"><span
                class="po-diagraming-icons po-like-count-btn">&#xe9c2;</span><span class="po-view-count-text">0</span>
        </div>
        <div id="po-like-count" class="po-header-left-btn po-like-count"><span
                class="po-diagraming-icons po-like-count-btn">&#xe9c0;</span><span class="po-like-count-text">0</span>
        </div>
        <div id="po-comment-count" class="po-comment-count po-header-left-btn"><span
                class="po-diagraming-icons po-like-count-btn">&#xe6ea;</span><span
                class="po-comment-count-text">0</span></div>
    </div>
    <div class="view-header-right">
        <div class="edit po-button second" ac="edit">编辑</div>
        <div class="po-button primary share-btn" ac="share">分享</div>
        <div class="po-flow-user-photo" ac="user"><img alt=""
                                                       src="https://user-photo.ks3-cn-beijing.ksyuncs.com/518dcca57b584c3285cc3fa6330894a5">
        </div>
        <div class="login po-button second" ac="login">登录</div>
        <div class="po-button primary signup" ac="signup">注册</div>
        <div class="po-tool-button share" title="分享" ac="share"><span class="po-diagraming-icons">&#xe6d8;</span>
        </div>
    </div>
</div>
<div class="po-view-right">
    <div class="po-close-btn po-diagraming-icons">&#xe6b9;</div>
    <div class="po-view-right-header"> 全部评论 <span id="comment-count">11</span></div>
    <div class="repler-right">
        <ul class="reply_list"></ul>
    </div>
    <div class="comment-con">
        <div id="comment" class="po-textarea" contenteditable="true"></div>
        <div id="btn-comment" class="po-button primary">发表</div>
    </div>
</div>
<div>
    <div id="po_image_box" class="po-dialog po-image-box" style="width:532px;height:510px;display:none">
        <div class="img-tab-list po-dialog-header po-group-button"><a tit="upload" class="active">本地图片</a> <a
                tit="online">网络图片</a> <a tit="search">在线图片</a></div>
        <div class="dlg-content po-dialog-content">
            <div class="po-image-detail">
                <div tit="upload" style="display:block;">
                    <div id="upload-con" class="po-upload">
                        <form id="upload_po_img" action="/api/personal/user_image/upload" method="post"
                              enctype="multipart/form-data">
                            <div style="margin-top:25px;"></div>
                            <div class="text-tip" style="margin-top:5px;"></div>
                            <span class="po-button second"><span class="po-diagraming-icons" style="font-size:16px;">&#xe6ee;</span>点击上传 或 拖拽图片到此处上传 <input
                                    type="file" name="image" id="po_upload_img_file"> <input type="hidden"
                                                                                             name="isSaveAs"
                                                                                             value="true"> <input
                                    type="hidden" name="type" value="mind"> </span></form>
                        <span style="font-size:12px;color:#9aa5b8;display:inline-block;margin-top:12px;">*图片大小不能超过2M</span>
                        <div class="history">
                            <div class="title">历史上传</div>
                            <div id="upload-imgs" class="upload-imgs"></div>
                        </div>
                    </div>
                </div>
                <div tit="online" style="padding:0 20px">
                    <div style="display:flex"><input id="text-insert-img" class="po-input-other" type="text"
                                                     placeholder="请将图片链接地址粘贴在此处">
                        <div id="btn-insert-img" class="po-button primary">插入图片</div>
                    </div>
                    <span class="error text-tip"></span></div>
                <div tit="search">
                    <div>
                        <div id="text-search-img" class="po-search-input text-search-img"></div>
                        <div class="search-img-con">
                            <div id="search-img-list" class="search-img-list">
                                <div class="search-img-empty"><img src="/public/compile/search-img.403e7621.svg"
                                                                   style="width:120px;height:auto;margin:0">
                                    <div class="text-tip">输入搜索关键字，建议使用英文单词搜索</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="equation-tip-dlg po-dialog" style="height:185px;display:none">
        <div class="po-dialog-header">提示</div>
        <div class="mind-context-menu-content" style="padding:0 24px;">
            <div style="font-size:14px;">公式过长会导致部分公式被隐藏，建议拆分编辑，是<br>否自动拆分？</div>
        </div>
        <div class="po-buttons" style="margin:24px;text-align:right"><span id="equation-cancel"
                                                                           style="margin-right:16px"
                                                                           class="gray po-button">不拆分</span> <span
                id="equation-ok" class="po-button primary">拆分编辑</span></div>
    </div>
    <div id="po-dialog-iframe" class="po-dialog po-dialog-iframe" style="display:none">
        <iframe></iframe>
    </div>
    <ul id="po-user-photo-menu" class="normal po-menu po-user-photo-menu" style="display:none">
        <li class="po-menu-item" tit="user">
            <div class="po-menu-item-box">
                <div id="user-logo" class="po-menu-icon user-logo"><img
                        src="https://accounts.processon.com/photo/5c98469ae4b02ce2e89aef17.png" alt=""></div>
                <span class="noover text"></span></div>
        </li>
        <li class="devi-clip devider"></li>
        <li class="po-menu-item" tit="topay">
            <div href="javascript:void(0)" class="po-menu-item-box"><span class="po-diagraming-icons po-menu-icon">&#xe96b;</span>
                <span class="text">升级</span></div>
        </li>
        <li class="po-menu-item" tit="file">
            <div class="po-menu-item-box"><span class="po-diagraming-icons po-menu-icon">&#xe70f;</span> <span
                    class="text">我的文件</span></div>
        </li>
        <li class="devi-clip devider"></li>
        <li class="po-menu-item" tit="logout">
            <div href="/login/out" class="po-menu-item-box"><span
                    class="po-diagraming-icons po-menu-icon">&#xe94e;</span> <span class="text">退出</span></div>
        </li>
    </ul>
</div>
<script src="/public/compile/view.4c304c44.js" type="text/javascript"></script>
<div style="height:100%">
    <link rel="stylesheet" href="/public/compile/view.mobi.38774cdf.css">
    <link rel="stylesheet" href="/public/compile/view.97cfa14a.css">
    <div id="viewport">
        <div id="view_container">
            <div id="designer_canvas"></div>
        </div>
        <div class="po-view-controlls-right">
            <div class="po-tool-button" id="po-view-enter-fullscreen"><span class="po-diagraming-icons">&#xe71d;</span>
            </div>
            <div class="po-tool-button" id="po-view-exit-fullscreen"><span class="po-diagraming-icons">&#xe720;</span>
            </div>
            <div class="po-tool-button" id="po-view-zoom-in"><span class="po-diagraming-icons">&#xe6ee;</span></div>
            <div class="po-tool-button" id="po-view-zoom-out"><span class="po-diagraming-icons">&#xe6ed;</span></div>
        </div>
        <div id="shape_img_container" style="height:0;overflow:hidden;"></div>
    </div>
    <script>window.chartId = "6465dddac1eb424d42dfe80f", window.collaId = "", window.device = "pc", window.tempId = "";</script>
    <script src="/public/compile/renderchart.09ae9987.js" type="text/javascript"></script>
    <script src="/public/compile/view.965abd51.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/public/compile/footer.9fbad39f.css">
    <div id="po-designer-foot" class="po-designer-foot">
        <div class="po-foot-left">图形：<span id="po-foot-select-total" class="po-foot-select-total"></span><span
                id="po-foot-shape-total" class="po-foot-shape-total"></span></div>
        <div class="po-foot-right">
            <div id="po-flow-navigation" class="po-navigation">
                <div id="po-open-navigator" title="视图导航" title-pos="top" class="po-flow-nav po-tool-button"><span
                        class="po-diagraming-icons">&#xe721;</span></div>
                <div class="po-flow-zoom"></div>
                <div id="enter-fullscreen" title-pos="top" title="全屏" class="po-flow-fullscreen po-tool-button-small"
                     onclick="Navigator.enterFullScreen()"><span class="po-diagraming-icons">&#xe71d;</span></div>
                <div id="exit-fullscreen" title-pos="top" title="退出全屏"
                     class="po-flow-fullscreen po-tool-button-small" style="display:none"
                     onclick="Navigator.exitFullScreen()"><span class="po-diagraming-icons">&#xe720;</span></div>
                <div id="po-navigation-view" class="po-navigation-view">
                    <div class="navigation-view-container">
                        <canvas id="navigation-canvas" width="240px" height="210px"></canvas>
                        <div id="navigation-eye" class="navigation-eye"></div>
                    </div>
                </div>
            </div>
            <div id="po-foot-help" class="po-foot-help po-tool-button-small" title-pos="top" title="帮助"><span
                    class="po-diagraming-icons">&#xe9f4;</span></div>
        </div>
    </div>
    <script type="text/javascript" src="/public/compile/footer.0ccf0cd7.js"></script>
</div>
<script>function t(e) {
    return (t = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (t) {
        return typeof t
    } : function (t) {
        return t && "function" == typeof Symbol && t.constructor === Symbol && t !== Symbol.prototype ? "symbol" : typeof t
    })(e)
}

window.zhuge = window.zhuge || [], window.zhuge.methods = "_init debug identify track trackLink trackForm page".split(" "), window.zhuge.factory = function (t) {
    return function () {
        var e = Array.prototype.slice.call(arguments);
        return e.unshift(t), window.zhuge.push(e), window.zhuge
    }
};
for (var e = 0; e < window.zhuge.methods.length; e++) {
    var o = window.zhuge.methods[e];
    window.zhuge[o] = window.zhuge.factory(o)
}
window.zhuge.load = function (t, e) {
    if (!document.getElementById("zhuge-js")) {
        var o = document.createElement("script"), n = new Date,
            r = n.getFullYear().toString() + n.getMonth().toString() + n.getDate().toString();
        o.type = "text/javascript", o.id = "zhuge-js", o.async = !0, o.src = ("http:" == location.protocol ? "http://sdk.zhugeio.com/zhuge.min.js?v=" : "https://zgsdk.zhugeio.com/zhuge.min.js?v=") + r, o.onerror = function () {
            window.zhuge.identify = window.zhuge.track = function (t, e, o) {
                o && "[object Function]" === Object.prototype.toString.call(o) && o()
            }
        };
        var i = document.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(o, i), window.zhuge._init(t, e)
    }
}, window.zhuge.load("3f37ba50e54f4374b9af5be6d12b208f", {debug: !1}), function () {
    var t = function () {
        var t = localStorage.getItem("userinfo") || sessionStorage.getItem("user_info");
        try {
            if (t) {
                var e = JSON.parse(t);
                return e.user.userId
            }
        } catch (o) {
            return ""
        }
        return ""
    }();
    "" != t ? localStorage.getItem("userLoginTag_" + t) || (zhuge.identify(t, {}), localStorage.setItem("userLoginTag_" + t, "login")) : function () {
        for (var t in localStorage) t.indexOf("userLoginTag") > -1 && localStorage.removeItem(t)
    }()
}(), window.poCollect = function (e, o) {
    if (e && "object" == t(o)) try {
        zhuge.track(e, o)
    } catch (n) {
    }
};</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-R4J4EQM97C"></script>
<script>function e() {
    dataLayer.push(arguments)
}

window.dataLayer = window.dataLayer || [], e("js", new Date), e("config", "G-R4J4EQM97C");
var a = a || [];
!function () {
    var e = document.createElement("script");
    e.src = "https://hm.baidu.com/hm.js?def795cb09241a1c9fe997d9e383a21e";
    var a = document.getElementsByTagName("script")[0];
    a.parentNode.insertBefore(e, a)
}();</script>
<script src="/public/compile/view.4c304c44.js" type="text/javascript"></script>
</body>
</html>