<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script>
        $(document).ready(function() {
            // 当页面加载完成时执行以下代码

            // 选取按钮，并为其添加单击事件处理程序
            $('#b_comp').click(function() {
                hetype = $('#HEtype').val()
                // 单击事件发生时执行的代码
                console.log(hetype)
                // 发送POST请求
                $.post('/calculateHE',{ht:hetype}, function(response) {
                    // 请求成功时的回调函数
                    console.log("请求成功！响应数据：" + response);
                    $('#result').html(response)
                }).fail(function() {
                    // 请求失败时的回调函数
                    alert("请求失败！");
                });
            });

        });
    </script>
    <style>
        textarea {
            width: 60%;
            resize: horizontal;
        }
        select {
            width: 15%;
        }
        button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <textarea id="HEtype" rows="2"></textarea>
    <br>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <select>
        <option>选项1</option>
        <option>选项2</option>
        <option>选项3</option>
        <option>选项4</option>
    </select>
    <br>
    <button id="b_comp">计算价格</button>
<hr/>
<div id="result"></div>
</body>
</html>
