<!-- jquery模态框可扩展版本 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <title>框架板设置</title>
    <style>
        .hide {
            display: none;
        }

        .modal {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 500px;
            height: 400px;
            margin-left: -200px;
            margin-top: -250px;
            z-index: 10;
            background-color: white;
        }

        .shade {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.6;
            background-color: black;
            z-index: 9;
        }

        p {
            text-align: center;
        }
    </style>
</head>
<body>
<!--<input type="button" value="添加">-->
<div class="container"></div>

<input type="button" value="添加">
<div id="div_js" style="display:none">{{js}}</div>
<br/>
<table id="splint_list" border="1"></table>
<!--</div>-->
<div class="modal hide">
    <div id="dialogtitle">新增一个xx数据</div>
    <br/>type, pressure, classmin, classmax, lining, price
    <p><input id="id" name="id" type="hidden"></p>
    <p>板型：<input id="type" name="sheettype" type="text"></p>
    <p>承压：<input id="pressure" name="pressure" type="text"></p>
    <p>最少板片数:<input id="classmin" name="classmin" type="text"></p>
    <p>最多板片数:<input id="classmax" name="classmin" type="text"></p>
    <p>接管材质:<input id="lining" name="lining" type="text"></p>
    <p>单价:<input id="price" name="price" type="text"></p>
    <p><input id="cancel" type="button" value="取消">
        <input id="confirm" type="button" value="确定"></p>
</div>
<div class="shade hide"></div>
<script>
    $(function () {
        js1 = $("#div_js").text();
        js2 = JSON.parse(js1);
        tr = ["<tr><td>序号</td><td>板型</td><td>承压</td><td>最少板片数</td><td>最多板片数</td><td>接管材质</td><td>单价</td></tr>"]
        $.each(js2, function (index, jsonObject) {
            tr.push("<tr><td>" + index + "</td><td>" + jsonObject['type'] + "</td><td>" + jsonObject['pressure'] + "</td>" +
                "<td>" + jsonObject['classmin'] + "</td><td>" + jsonObject['classmax'] + "</td><td>" + jsonObject['lining'] + "</td>" +
                "<td>" + jsonObject['price'] + "</td>" +
                "<td><input type=\"button\" value=\"编辑\"  onclick=\"modify(" + jsonObject['id'] + ",'" + jsonObject['sheet'] + "'," + jsonObject['area'] + ")\"> " +
                "| <input type=\"button\" value=\"删除\" onclick=\"deleterow(" + jsonObject['id'] + ")\"></td></tr>");
        });

        $('#sheetarea_list').html(tr)
    });
    //添加按钮
    $('input[value="添加"]').click(function () {
        $('.hide').removeClass('hide');
        $('#dialogtitle').text("新增夹板数据");
        $('#confirm').val('确定');
        confirm_b = 1;
    });
    //取消按钮
    $('input[value="取消"]').click(function () {
        $('input[type="text"]').val('');
        $('.modal,.shade').addClass('hide');
    });
    // 确定按钮
    $('input[value="确定"]').click(function () {
        if (confirm_b == 2) {
            update();
            return;
        }
        type = $("#type").val();
        pressure = $("#pressure").val();
        classmin = $("#classmin").val();
        classmax = $("#classmax").val();
        lining = $("#lining").val();
        price = $("#price").val();
        $.ajax({
            type: "GET",          //以post方法提交数据给服务器
            url: "/setup/newsplint",               //提交数据到 新增板片面积数据
            dataType: "text",      //数据类型
            data: {                        //传给服务器的数据
                "type": type,
                "pressure": pressure,
                "classmin": classmin,
                "classmax": classmax,
                "lining": lining,
                "price": price
            },
            success: function (data) {         //回调函数
                console.log("新增" + data);
                if (data == "新增夹板数据成功") {
                    $('.modal,.shade').addClass('hide');
                    let setupitem = "splint";
                    $.ajax({
                        type: "GET",          //以post方法提交数据给服务器
                        url: "/setup",               //提交数据到User
                        dataType: "text",      //数据类型
                        data: {                        //传给服务器的数据
                            "menu": setupitem
                        },
                        success: function (data) {         //回调函数
                            $("#setup_content").html(data)
                        },
                        error: function (data) {

                        }
                    });
                }
            },
            error: function (data) {
                alert("新增夹板失败")
            }
        });
        $('input[type="text"]').val('');

    });

    // 更新按钮对应的方法
    function update() {
        id = $("#id").val();
        type = $("#type").val();
        pressure = $("#pressure").val();
        classmin = $("#classmin").val();
        classmax = $("#classmax").val();
        lining = $("#lining").val();
        price = $("#price").val();
        console.log(" function update : " + id + type + area);
        $.ajax({
            type: "GET",          //以post方法提交数据给服务器
            url: "/setup/updatesheetarea",               //提交数据到User
            dataType: "text",      //数据类型
            data: {                        //传给服务器的数据
                "id": id,
                "type": type,
                "pressure": pressure,
                "classmin": classmin,
                "classmax": classmax,
                "lining": lining,
                "price": price
            },
            success: function (data) {         //回调函数
                console.log("更新" + data);
                if (data == "更新夹板数据成功") {
                    $('.modal,.shade').addClass('hide');
                    let setupitem = "splint";
                    $.ajax({
                        type: "GET",          //以post方法提交数据给服务器
                        url: "/setup",               //提交数据到User
                        dataType: "text",      //数据类型
                        data: {                        //传给服务器的数据
                            "menu": setupitem
                        },
                        success: function (data) {         //回调函数
                            $("#setup_content").html(data)
                        },
                        error: function (data) {
                            console.log(data)
                        }
                    });
                }
            },
            error: function (data) {
                alert("更新夹板数据失败")
            }
        });
        $('input[type="text"]').val('');

    }

    //编辑按钮
    // $('input[value="编辑"]').click(function () {
    //     $('.hide').removeClass('hide');
    //     //获取点击前面标签
    //     var tds = $(this).parent().prevAll();
    //     tds.each(function () {
    //         //获取target值
    //         var tar_val = $(this).attr('target');
    //         //获取当前td的内容
    //         var con = $(this).text();
    //         //根据target寻找modal中的对应框，并写入内容
    //         $('.modal input[name="' + tar_val + '"]').val(con);
    //     });
    // });

    //删除按钮
    function deleterow(id) {
        c = confirm("确认要删除这叫记录吗(" + id + ")");
        console.log(c);
        if (c) {
            alert("程序还没有完成,再等等吧");
        }
    }

    // $('input[value="删除"]').click(function () {
    //     $(this).parent().parent().remove();
    // });
</script>
<script type="text/javascript">
    let confirm_b = 2; // 1表示新增，2表示更新
    // 当编辑按钮被点击是触发
    function modify(id, type, pressure, classmin, classmax, lining, price) {
        confirm_b = 2;
        console.log("modify button clicked for " + id + type + area);
        $('#confirm').val('更新');
        $('#dialogtitle').text("更新板片面积");
        $('#id').val(id);
        $("#type").val(type);
        $("#pressure").val(pressure);
        $("#classmin").val(classmin);
        $("#classmax").val(classmax);
        $("#lining").val(lining);
        $("#price").val(price);
        $('.hide').removeClass('hide');
    }
</script>
</body>
</html>
